body {
  overflow: hidden;
  font-optical-sizing: auto;
  margin: 0 12px 0 12px;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  color: #bed280;
  font-size: 70px;
  font-family: "Darumadrop One", sans-serif;
  margin: 0 12px 0 12px;
}

button {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: medium;
  z-index: 100;
  margin: 12px;
  min-height: 30px;
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
}

button:hover {
  background-color: #E5E1D5;
  color: black;
}

.selected-button {
  background-color: #000000;
  color: white;
}

.popupItem {
  width: 75%;
  position: absolute;
  z-index: 100;

  padding: 50px;

  background-color: #E5D6C0;
  color: black;

  background-image: url('../assets/textures/cardboard-texture.jpg'), url('../assets/textures/white-paper-texture.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: multiply, color-burn;
}
#quiz {
  #answers-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
  }

  #submit-quiz {
    background-color: #c4d6bc;
    width: 96px;
  }

  #answers-screen.hidden {
    display: none;
  }

  #questions-screen.hidden {
    display: none;
  }

  #questions-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .answer-button {
    width: 75%;
  }
}

#quiz.hidden {
  display: none;
}

#choose-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

#choose-type.hidden {
  display: none;
}

#top-container {
  height: 100px;
  width: 100%;
}

#popup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
  top: 160px;
  left: 0;
  z-index: 0;
}

.close-button {
  right: 10px;
  top: 10px;
  position: absolute;
  font-weight: 700;
}

#ui-container {
  display: flex;
}

#my-info {
  display: flex;
  flex-direction: column;
}

#upgrade-market {
  z-index: 100;
  display: flex;
  flex-direction: column;
}

#upgrade-market.hidden {
  display: none;
}

.market-choices {
  display: flex;
  justify-content: space-between;
}

.market-choice-button {
  background-color: #F6F4E7;
  width: 20%;
  aspect-ratio: 1 / 1; /* height = width */
  font-size: 20px;
  position: relative;
}

/* 
for Lisa's use

export const wallColors = {
  front: "#F2EBDC",
  side: "#ECE1CF",
  top: "#F5F1E7",
  inside: "#FAF1E1",
};

export const shelfColor = {
  back: "#E8D7BB",
  side: "#F1E2CA",
  bottom: "#ECE1CF",
  bottomLight: "#ECE1CF",
};


*/

.ui-button {
  width: 12%;
  background-color: #E8D7BB;
  background-color: #F5F1E7;
  background-image: url('../assets/textures/cardboard-texture.jpg'), url('../assets/textures/white-paper-texture.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: multiply, color-burn;
}

h2 {
  font-size: 40px;
  margin: 10px 0 30px 0;
  font-weight: 600;
}
h4 {
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0 20px 0;
}

.market-choice-button .item {
  position: absolute;
  top: 0;
  font-weight: 700;
}

.market-choice-button .buy {
  position: absolute;
  bottom: 0;
  left: 5px;
  text-transform: lowercase;
}

.market-choice-button .sell {
  position: absolute;
  bottom: 0;
  right: 5px;
  text-transform: lowercase;
}

.market-choice-button .supply {
  position: absolute;
  top: 0;
  right: 5px;
  text-transform: lowercase;
}

.tabs {
  display: flex;
  gap: 1em;
  margin-bottom: 0;
}

.tab-button {
  padding: 0.5em 1em;
  margin: 0;
  border: none;
  background-color: #F6F4E7;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  text-transform: lowercase;
}

.tab-button.active {
  color: white;
  background-color: #000000BF;
  background-image: url('../assets/textures/cardboard-texture.jpg'), url('../assets/textures/white-gypsum-wall.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: color-burn, color-burn;
}

.tab-content{
  background-color: #000000BF;
  background-image: url('../assets/textures/cardboard-texture.jpg'), url('../assets/textures/white-gypsum-wall.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: color-burn, color-burn;
}

.tab-content.hidden {
  display: none;
}


.logo-image {
  width: 500px;
}

.market-header {
  display: flex;
  align-items: center; /* vertically aligns items */
  gap: 1rem; /* optional spacing between items */
}