h1 {
  color: #bed280;
}

#quiz {
  display: flex;
  background-color: #bed280;
  color: black;
  flex-direction: column;

  button {
    width: 200px;
  }

  #answers-container {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  #submit-quiz {
    background-color: aqua;
  }

  .guessed-button {
    background-color: yellow;
  }

  #answers-screen.hidden {
    display: none;
  }

  #questions-screen.hidden {
    display: none;
  }
}

#quiz.hidden {
  display: none;
}
